<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>talkToMe_semi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
  
  <servlet>
     <servlet-name>member</servlet-name>
     <servlet-class>controller.member.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>member</servlet-name>
     <url-pattern>*.5</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>main</servlet-name>
     <servlet-class>controller.main.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>main</servlet-name>
     <url-pattern>*.1</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>board</servlet-name>
      <servlet-class>controller.board.BoardController</servlet-class>
    </servlet>

  <servlet-mapping>
      <servlet-name>board</servlet-name>
      <url-pattern>*.4</url-pattern>
  </servlet-mapping>
  
  <servlet>
       <servlet-name>friends</servlet-name>
       <servlet-class>controller.friends.FriendsController</servlet-class>
  </servlet>
  
  <servlet-mapping>
       <servlet-name>friends</servlet-name>
       <url-pattern>*.2</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
       <servlet-name>admin</servlet-name>
       <servlet-class>controller.admin.AdminController</servlet-class>
  </servlet>
  
  <servlet-mapping>
       <servlet-name>admin</servlet-name>
       <url-pattern>*.6</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
       <servlet-name>group</servlet-name>
       <servlet-class>controller.group.GroupController</servlet-class>
  </servlet>
  
  <servlet-mapping>
       <servlet-name>group</servlet-name>
       <url-pattern>*.3</url-pattern>
  </servlet-mapping>
  
  
</web-app>